<div class="carousel-wrapper" *transloco="let translate; read: 'carousel'">
  <button class="carousel-scroller__left" mat-mini-fab (click)="scrollToLeft()" *ngIf="isScrolledFromLeft && !(isHandset$ | async)" [attr.aria-label]="translate('scroller.previous')"><mat-icon>chevron_left</mat-icon></button>
  <div class="carousel" cdk-scrollable #carousel *ngIf="imagePaths; else carouselLoader">
    <div class="force-padding"></div>
    <div class="carousel-container">
      <div class="mat-elevation-z4 carousel-image" *ngFor="let imagePath of imagePaths; index as index">
        <img [src]="imagePath">
        <button *ngIf="isImageRemovable" class="remove-image-button" [class.on-handset]="isHandset$ | async" color="warn" mat-mini-fab (click)="onImageRemove(index)"><mat-icon>delete</mat-icon></button>
      </div>
    </div>
    <div class="force-padding"></div>
  </div>
  <ng-template #carouselLoader>
    <div class="carousel fake">
      <div class="force-padding"></div>
      <div class="carousel-container">
        <content-loader [baseUrl]="window.location.pathname" [height]="194" [width]="344" [style]="{ position: 'absolute' }" class="mat-elevation-z4 carousel-image fake" *ngFor="let fakeImage of ['', '', '', '']">
          <svg:rect x="0" y="0" height="100%" width="100%"/>
        </content-loader>
      </div>
      <div class="force-padding"></div>
    </div>
  </ng-template>
  <button class="carousel-scroller__right" mat-mini-fab (click)="scrollToRight()" *ngIf="isScrolledFromRight && isCarouselScrollable && !(isHandset$ | async)" [attr.aria-label]="translate('scroller.next')"><mat-icon>chevron_right</mat-icon></button>
</div>
