.carousel-wrapper {
  position: relative;
  overflow: hidden;
}

.carousel {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}

.carousel.fake {
  display: inline-flex;
}

.carousel::-webkit-scrollbar,
.carousel::-webkit-scrollbar-track,
.carousel::-webkit-scrollbar-thumb {
  display: none;
}

.carousel-container {
  flex: none;
  display: flex;
}

.carousel-scroller__left {
  position: absolute;
  top: calc(50% - 20px);
  background-color: white;
  color: black;
  opacity: .9;
  left: 24px;
  z-index: 1;
}

.carousel-scroller__left:hover {
  opacity: 1;
}

.carousel-scroller__right {
  position: absolute;
  top: calc(50% - 20px);
  background-color: white;
  color: black;
  opacity: .9;
  right: 24px;
  z-index: 1;
}

.carousel-scroller__right:hover {
  opacity: 1;
}

.force-padding {
  flex: none;
  display: inline-block;
  width: 24px;
}

.carousel-image {
  height: 194px;
  width: 344px;
  border-radius: 4px;
  margin-right: 16px;
  align-items: flex-end;

  box-sizing: border-box;
  display: inline-flex;
  overflow: hidden;
  position: relative;
}

.carousel-image.fake {
  position: relative;
}

.carousel-image:last-of-type {
  margin-right: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.remove-image-button {
  position: absolute;
  top: 16px;
  right: 16px;
  display: none;
  opacity: .9;
}

.remove-image-button.on-handset {
  display: block;
}

.remove-image-button:hover {
  opacity: 1;
}

.carousel-image:hover .remove-image-button {
  display: block;
}
