<mat-list *ngIf="roomType && roomServices$ | async as roomServices; else contentLoader">
  <mat-list-item *ngFor="let roomService of roomServices; last as last">
    <mat-icon mat-list-icon>{{ roomService.icon }}</mat-icon>
    <div mat-line> {{ roomService['name_' + (language$ | async)] }} </div>
    <div mat-line>{{ roomService['shortDescription_' + (language$ | async)] }} </div>
    <span class="spacer"></span>
    <mat-icon>{{ isRoomServiceAvailable(roomService) ? 'check' : 'close' }}</mat-icon>
    <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
  </mat-list-item>
</mat-list>
<ng-template #contentLoader>
  <mat-list>
    <mat-list-item *ngFor="let fakeRoomService of ['', '', '']; last as last">
      <content-loader [baseUrl]="window.location.pathname" mat-list-icon [width]="24" [height]="24">
        <svg:rect x="0" y="0" height="100%" width="100%"/>
      </content-loader>
      <content-loader [baseUrl]="window.location.pathname" mat-line [height]="56" [width]="500" [style]="{ width: '375px' }">
        <svg:rect x="0" y="8" rx="3" ry="3" height="16" width="80%"/>
        <svg:rect x="0" y="32" rx="3" ry="3" height="16" width="100%"/>
      </content-loader>
      <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
    </mat-list-item>
  </mat-list>
</ng-template>
