<div *ngIf="!(isHidden$ | async) && !(isHandset$ | async)">
  <mat-action-list>
    <div [class.bottom-actions-rail]="(isTablet$ | async)">
      <button mat-list-item (click)="onProfileActionClick()" #profileAction><mat-icon>person_circle</mat-icon></button>
      <button mat-list-item (click)="rulesDialogSubject.next(true)" #rulesAction *ngIf="isLoggedIn$ | async"><mat-icon>assignment</mat-icon></button>
      <button mat-list-item (click)="offersDialogSubject.next(true)" #offersAction *ngIf="isLoggedIn$ | async"><mat-icon>local_offer</mat-icon></button>
      <button mat-list-item (click)="reviewsDialogSubject.next(true)" #reviewsAction><mat-icon>rate_review</mat-icon></button>
      <button mat-list-item [matMenuTriggerFor]="languagesMenu.menu"><mat-icon>language</mat-icon></button>
    </div>
  </mat-action-list>
</div>
<app-languages-menu #languagesMenu></app-languages-menu>
