:host {
  position: fixed;
  height: 100%;
  right: 0;
  top: 24px;
}

div.bottom-actions-rail {
  position: absolute;
  bottom: 24px;
  right: 0;
}

button {
  width: 52px !important;
  height: 52px !important;
}

mat-icon {
  opacity: .6;
}
