#dialog-title {
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}

[mat-dialog-close] {
  margin-left: -16px;
  margin-top: -16px;
}

mat-dialog-content mat-form-field, mat-dialog-content button {
  width: 100%;
}

.login-form, .profile-actions {
  margin-bottom: 16px;
}

.full-width-divider {
  margin-left: -24px;
  margin-right: -24px;
}

.avatar-placeholder {
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: rgba(0, 0, 0, .54);
}

mat-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
}
