<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<div *transloco="let translate; read: 'profile-dialog'">
  <div mat-dialog-title [id]="'dialog-title'">
    <button mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
    <span class="spacer"></span>
    <h1>NM</h1>
    <span class="spacer"></span>
  </div>
  <mat-dialog-content>
    <form class="login-form" *ngIf="!(isLoggedIn$ | async); else profileInfo" (submit)="onLogin(loginForm)" #loginForm="ngForm">
      <mat-form-field appearance="fill">
        <span matPrefix>+380 &nbsp;</span>
        <mat-label>{{ translate('phone-number.label') }}</mat-label>
        <mat-icon matSuffix>phone</mat-icon>
        <input cdkFocusInitial matInput type="tel" name="phoneNumber" ngModel #phoneNumberInput="ngModel" required maxlength="10">
      </mat-form-field>
      <mat-form-field appearance="fill" *ngIf="loginForm.value.phoneNumber === adminPhone">
        <mat-label>{{ translate('password.label') }}</mat-label>
        <input matInput type="password" name="password" ngModel #passwordInput="ngModel" required>
      </mat-form-field>
      <button mat-stroked-button type="submit" [disabled]="isLoading">{{ translate('login') }}</button>
    </form>
    <ng-template #profileInfo class="profile-info">
      <mat-list>
        <mat-list-item>
          <img matListAvatar [src]="(user$ | async)?.avatarUrl" [alt]="translate('avatar.alt')" *ngIf="(user$ | async)?.avatarUrl; else avatarPlaceholder">
          <ng-template #avatarPlaceholder>
            <mat-icon matListAvatar class="avatar-placeholder">account_circle</mat-icon>
          </ng-template>
          <h3 matLine>{{ (user$ | async)?.phoneNumber }}</h3>
          <p matLine>{{ translate('people-amount', { peopleAmount: (guest$ | async)?.peopleAmount }) }}</p>
          <p matLine>{{ (guest$ | async)?.startDate | date: 'shortDate' }} - {{ (guest$ | async)?.endDate | date: 'shortDate' }} ({{ translate('days-amount', { daysAmount: (guest$ | async)?.endDate?.diff((guest$ | async)?.startDate, 'days') }) }})</p>
        </mat-list-item>
      </mat-list>
    </ng-template>
    <mat-divider class="full-width-divider"></mat-divider>
    <mat-action-list>
      <div class="profile-actions">
        <button mat-list-item (click)="rulesDialogSubject.next(true)" *ngIf="isLoggedIn$ | async">
          <mat-icon mat-list-icon>assignment</mat-icon>
          <div mat-line>{{ translate('actions.rules') }}</div>
        </button>
        <button mat-list-item (click)="offersDialogSubject.next(true)" *ngIf="isLoggedIn$ | async">
          <mat-icon mat-list-icon>local_offer</mat-icon>
          <div mat-line>{{ translate('actions.offers') }}</div>
        </button>
        <button mat-list-item (click)="reviewsDialogSubject.next(true)">
          <mat-icon mat-list-icon>rate_review</mat-icon>
          <div mat-line>{{ translate('actions.review') }}</div>
        </button>
        <button mat-list-item (click)="window.location.reload()" [disabled]="!(isSystemUpdateAvailable$ | async)">
          <mat-icon mat-list-icon>system_update</mat-icon>
          <div mat-line>{{ translate('actions.system-update') }}</div>
        </button>
      </div>
        <mat-divider class="full-width-divider"></mat-divider>
      <button mat-list-item [matMenuTriggerFor]="languagesMenu.menu">
        <mat-icon mat-list-icon>language</mat-icon>
        <div mat-line>{{ translate('actions.language') }}</div>
        <span class="spacer"></span>
        <mat-icon>expand_more</mat-icon>
      </button>
    </mat-action-list>
    <mat-divider class="full-width-divider"></mat-divider>
  </mat-dialog-content>
  <mat-dialog-actions>
    <span class="spacer"></span>
    <button mat-button><span class="mat-caption" routerLink="/admin">{{ translate('actions.cookie-policy') }}</span></button>
    <span class="mat-caption" *ngIf="isLoggedIn$ | async">&nbsp; &bull; &nbsp;</span>
    <button mat-button *ngIf="isLoggedIn$ | async" (click)="onLogout()"><span class="mat-caption">{{ translate('actions.logout') }}</span></button>
    <span class="spacer"></span>
  </mat-dialog-actions>
</div>

<app-languages-menu #languagesMenu></app-languages-menu>
