<div *transloco="let translate; read: 'admin-form'">
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <h4 class="rooms-details-header-details">{{ translate('sections.details') }}</h4>
  <form [formGroup]="form" (ngSubmit)="onSubmitRoom()" #editForm *transloco="let translateRoom; read: 'rooms-details'">
    <!-- en -->
    <div [style.display]="(language$ | async) === 'en' ? '' : 'none'">
      <mat-form-field appearance="fill">
        <mat-label>{{ translateRoom('name.label') }}</mat-label>
        <input type="text" matInput name="name_en" formControlName="name_en">
      </mat-form-field>
    </div>
    <!-- uk -->
    <div [style.display]="(language$ | async) === 'uk' ? '' : 'none'">
      <mat-form-field appearance="fill">
        <mat-label>{{ translateRoom('name.label') }}</mat-label>
        <input type="text" matInput name="name_uk" formControlName="name_uk">
      </mat-form-field>
    </div>
    <!-- ru -->
    <div [style.display]="(language$ | async) === 'ru' ? '' : 'none'">
      <mat-form-field appearance="fill">
        <mat-label>{{ translateRoom('name.label') }}</mat-label>
        <input type="text" matInput name="name_ru" formControlName="name_ru">
      </mat-form-field>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>{{ translateRoom('room-type.label') }}</mat-label>
      <mat-select name="typeId" formControlName="typeId">
        <mat-option *ngFor="let roomType of roomTypes$ | async" [value]="roomType._id">
          {{ roomType['name_' + (language$ | async)] }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div style="margin: 16px; display: flex;">
      {{ form.errors }}
      <span class="spacer"></span>
      <button style="right: 8px;" mat-stroked-button type="submit" [disabled]="isLoading" #acceptButton *ngIf="!(isHandset$ | async)"> {{ translate('accept') }} </button>
      <button mat-stroked-button color="warn" [disabled]="isLoading" (click)="onRoomDelete()" *ngIf="room$ && !(isHandset$ | async)">{{ translate('delete') }}</button>
    </div>
  </form>
</div>
