<mat-toolbar *transloco="let translate" class="mat-elevation-z4">
  <button mat-icon-button (click)="openCancellationApproval()"><mat-icon>close</mat-icon></button>
  <h1> {{ translate('room-types-details.handset-header') }} </h1>
  <span class="spacer"></span>
  <button mat-button (click)="appRoomType.onSubmitRoomType()"> {{ translate('admin-form.accept') | uppercase }} </button>
</mat-toolbar>
<app-room-type
  [roomTypeId]="roomType$ ? (roomType$ | async)?._id : null"
  class="scrollable-y"
  #appRoomType>
</app-room-type>
<button class="languages-fab" mat-fab [matMenuTriggerFor]="languagesMenu.menu"><mat-icon>language</mat-icon></button>
<app-languages-menu #languagesMenu></app-languages-menu>
