mat-list, mat-nav-list {
  width: 375px;
  overflow-x: hidden;
  max-height: calc(100% - 72px - 56px);
  padding-top: 0;
}

mat-action-list {
  width: 375px;
  padding-top: 0;
}

mat-action-list.on-handset {
  width: 100%;
  padding-top: 0;
}

mat-nav-list.on-handset {
  max-height: calc(100% - 56px - 56px);
  width: 100%;
}

.vertical-divider {
  top: 0;
  right: 0;
  width: auto !important;
}

.active .vertical-divider {
  display: none;
}

app-service {
  position: absolute;
  top: calc(72px);
  left: 375px;
  width: calc(100% - 375px);
  height: calc(100% - 72px);
}
