<mat-action-list [class.on-handset]="(isHandset$ | async)">
  <mat-list-item class="mat-elevation-z4" *transloco="let translate; read: 'admin.services'" (click)="selectedServiceSubject.next(null)">
    <mat-icon matListIcon>add</mat-icon>
    <a matLine> {{ translate('new-service') }} </a>
  </mat-list-item>
</mat-action-list>
<mat-nav-list *ngIf="services$ | async as services; else contentLoader" [class.on-handset]="isHandset$ | async" class="scrollable-y">
  <mat-list-item *ngFor="let service of services; last as last" [class.active]="(selectedService$ | async)?._id === service._id" (click)="selectedServiceSubject.next(service)">
    <mat-icon matListIcon> {{ service.icon }} </mat-icon>
    <a matLine> {{ service['name_' + (language$ | async)] }} </a>
    <p matLine> {{ service['shortDescription_' + (language$ | async)] }} </p>
    <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
    <mat-divider [vertical]="true" class="vertical-divider"></mat-divider>
    <div appMatListSuffixActions>
      <button class="mat-list-action" mat-flat-button color="warn" (click)="onDeleteButtonClick($event, service)"><mat-icon>delete</mat-icon></button>
    </div>
  </mat-list-item>
</mat-nav-list>
<ng-template #contentLoader>
  <mat-list [class.on-handset]="(isHandset$ | async)">
    <mat-list-item *ngFor="let fakeRoomService of ['', '', '']; last as last">
      <content-loader [baseUrl]="window.location.pathname" mat-list-icon [width]="24" [height]="24">
        <svg:rect x="0" y="0" height="100%" width="100%"/>
      </content-loader>
      <content-loader [baseUrl]="window.location.pathname" mat-line [height]="56" [width]="500" [style]="{ width: '375px' }">
        <svg:rect x="0" y="8" rx="3" ry="3" height="16" width="80%"/>
        <svg:rect x="0" y="32" rx="3" ry="3" height="16" width="100%"/>
      </content-loader>
      <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
    </mat-list-item>
  </mat-list>
</ng-template>
<app-service
  *ngIf="!(isHandset$ | async)"
  [serviceId]="(selectedService$ | async)?._id"
  [class.on-handset]="(isHandset$ | async)"
  (serviceAdded)="servicesSubject.next([]); selectedServiceSubject.next($event)"
  (serviceDeleted)="servicesSubject.next([]); selectedServiceSubject.next(null)"
  class="scrollable-y">
</app-service>
