<div *transloco="let translate; read: 'admin-form'">
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <h4 class="services-details-header-images">{{ translate('sections.images') }}</h4>
  <app-carousel [imagePaths]="(service$ | async)?.imagePaths ? (imageURLs$ | async).concat((service$ | async)?.imagePaths) : (imageURLs$ | async).concat([])" [isImageRemovable]="true" (imagePathRemoved)="onImagePathRemoved($event)"></app-carousel>
  <div style="margin: 0 16px 16px 16px;">
    <button class='new-photo-button' mat-stroked-button (click)="filePickerRef.nativeElement?.click()"><mat-icon>add_a_photo</mat-icon> {{ translate('new-image') }} </button>
  </div>
  <mat-divider class="photo-section-divider"></mat-divider>
  <h4 class="services-details-header-details">{{ translate('sections.details') }}</h4>
  <form [formGroup]="form" (ngSubmit)="onSubmitService()" #editForm *transloco="let translateServiceDetails; read: 'services-details'">
    <input type="file" #filePicker style="display: none;" (change)="onImagesPicked($event)" multiple>
    <mat-form-field appearance="fill">
      <mat-label>{{ translateServiceDetails('icon.label') }}</mat-label>
      <mat-hint><a href="https://material.io/resources/icons" target="_blank">Material icons</a></mat-hint>
      <input type="text" cdkFocusInitial matInput name="icon" formControlName="icon" (change)="$event.target.value = $event.target.value.toLowerCase()">
    </mat-form-field>
    <!-- en -->
    <div [style.display]="(language$ | async) === 'en' ? '' : 'none'">
      <mat-form-field appearance="fill">
        <mat-label>{{ translateServiceDetails('name.label') }}</mat-label>
        <input type="text" matInput name="name_en" formControlName="name_en">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ translateServiceDetails('short-description.label') }}</mat-label>
        <input type="text" matInput name="shortDescription_en" formControlName="shortDescription_en">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ translateServiceDetails('full-description.label') }}</mat-label>
        <textarea matInput
          cdkTextareaAutosize
          name="fullDescription_en"
          formControlName="fullDescription_en"
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>
    </div>
    <!-- uk -->
    <div [style.display]="(language$ | async) === 'uk' ? '' : 'none'">
      <mat-form-field appearance="fill">
        <mat-label>{{ translateServiceDetails('name.label') }}</mat-label>
        <input type="text" matInput name="name_uk" formControlName="name_uk">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ translateServiceDetails('short-description.label') }}</mat-label>
        <input type="text" matInput name="shortDescription_uk" formControlName="shortDescription_uk">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ translateServiceDetails('full-description.label') }}</mat-label>
        <textarea matInput
          cdkTextareaAutosize
          name="fullDescription_uk"
          formControlName="fullDescription_uk"
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>
    </div>
    <!-- ru -->
    <div [style.display]="(language$ | async) === 'ru' ? '' : 'none'">
      <mat-form-field appearance="fill">
        <mat-label>{{ translateServiceDetails('name.label') }}</mat-label>
        <input type="text" matInput name="name_ru" formControlName="name_ru">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ translateServiceDetails('short-description.label') }}</mat-label>
        <input type="text" matInput name="shortDescription_ru" formControlName="shortDescription_ru">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ translateServiceDetails('full-description.label') }}</mat-label>
        <textarea matInput
          cdkTextareaAutosize
          name="fullDescription_ru"
          formControlName="fullDescription_ru"
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>
    </div>
    <mat-checkbox name="isHotelService" formControlName="isHotelService"> {{ translateServiceDetails('hotel-service') }} </mat-checkbox>
    <mat-checkbox name="isRoomService" formControlName="isRoomService"> {{ translateServiceDetails('room-service') }} </mat-checkbox>
    <mat-checkbox name="isAdditionalService" formControlName="isAdditionalService"> {{ translateServiceDetails('additional-service') }} </mat-checkbox>
    <div style="margin: 16px; display: flex;">
      {{ form.errors }}
      <span class="spacer"></span>
      <button style="right: 8px;" mat-stroked-button type="submit" [disabled]="isLoading" #acceptButton *ngIf="!(isHandset$ | async)"> {{ translate('accept') }} </button>
      <button mat-stroked-button color="warn" [disabled]="isLoading" (click)="onServiceDelete()" *ngIf="service$ && !(isHandset$ | async)">{{ translate('delete') }}</button>
    </div>
  </form>
</div>
