<div class="carousel-wrapper">
  <div class="carousel" *ngIf="imagePaths; else carouselLoader">
    <div class="carousel-container">
      <img class="carousel-image" *ngFor="let imagePath of imagePaths" [src]="imagePath">
    </div>
  </div>
  <ng-template #carouselLoader>
    <div class="carousel fake">
      <div class="carousel-container">
        <content-loader [baseUrl]="window.location.pathname" [height]="188" [width]="375" [style]="{ position: 'absolute' }" class="carousel-image fake" *ngFor="let fakeImage of ['', '']">
          <svg:rect x="0" y="0" height="100%" width="100%"/>
        </content-loader>
      </div>
    </div>
  </ng-template>
</div>
