.carousel-wrapper {
  position: relative;
}

.carousel {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  padding-bottom: 16px;
}

.carousel-fake {
  display: inline-flex;
}

.carousel::-webkit-scrollbar,
.carousel::-webkit-scrollbar-track,
.carousel::-webkit-scrollbar-thumb {
  display: none;
}

.carousel-container {
  flex: none;
  display: flex;
}

.carousel-image {
  z-index: -1;
  height: 188px;
  width: 375px;
  margin-right: 8px;
  align-items: flex-end;

  box-sizing: border-box;
  display: inline-flex;
  overflow: hidden;
}

.carousel-image.fake {
  position: relative;
}

.carousel-image:last-of-type {
  margin-right: 0;
}

img {
  object-fit: cover;
  height: 100%;
}
