<mat-action-list [class.on-handset]="(isHandset$ | async)">
  <mat-list-item class="mat-elevation-z4" *transloco="let translate; read: 'admin.room-types'" (click)="selectedRoomTypeSubject.next(null)">
    <mat-icon matListIcon>add</mat-icon>
    <a matLine> {{ translate('new-room-type') }} </a>
  </mat-list-item>
</mat-action-list>
<mat-nav-list *ngIf="roomTypes$ | async as roomTypes; else contentLoader" [class.on-handset]="isHandset$ | async" class="scrollable-y">
  <mat-list-item *ngFor="let roomType of roomTypes; last as last" [class.active]="(selectedRoomType$ | async)?._id === roomType._id" (click)="selectedRoomTypeSubject.next(roomType)">
    <a matLine> {{ roomType['name_' + (language$ | async)] }} </a>
    <p matLine> {{ roomType['description_' + (language$ | async)] }} </p>
    <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
    <mat-divider [vertical]="true" class="vertical-divider"></mat-divider>
  </mat-list-item>
</mat-nav-list>
<ng-template #contentLoader>
  <mat-list [class.on-handset]="(isHandset$ | async)">
    <mat-list-item *ngFor="let fakeRoomType of ['', '', '']; last as last">
      <content-loader [baseUrl]="window.location.pathname" mat-list-icon [width]="24" [height]="24">
        <svg:rect x="0" y="0" height="100%" width="100%"/>
      </content-loader>
      <content-loader [baseUrl]="window.location.pathname" mat-line [height]="56" [width]="500" [style]="{ width: '375px' }">
        <svg:rect x="0" y="8" rx="3" ry="3" height="16" width="80%"/>
        <svg:rect x="0" y="32" rx="3" ry="3" height="16" width="100%"/>
      </content-loader>
      <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
    </mat-list-item>
  </mat-list>
</ng-template>
<app-room-type
  *ngIf="!(isHandset$ | async)"
  [roomTypeId]="(selectedRoomType$ | async)?._id"
  [class.on-handset]="(isHandset$ | async)"
  (roomTypeAdded)="roomTypesSubject.next([]); selectedRoomTypeSubject.next($event)"
  (roomTypeDeleted)="roomTypesSubject.next([]); selectedRoomTypeSubject.next(null)"
  class="scrollable-y">
</app-room-type>
