.main {
  position: absolute;
  left: 72px;
  right: 56px;
  width: 1061px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  top: 56px;
  overflow-x: hidden;
  overflow-y: auto;
}

.main.on-handset {
  width: 343px;
  left: 0;
  right: 0;
  top: 64px;
  bottom: 112px;
}

.main.backdrop-expanded {
  position: fixed;
  height: 100vh;
  overflow-y: hidden;
}

mat-grid-tile {
  border-radius: 4px;
  cursor: pointer;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .38);
}

img.main-image {
  width: 100%;
}

mat-grid-tile p {
  position: absolute;
  color: white;
  top: 16px;
  left: 16px;
}

mat-grid-tile p.mat-caption {
  top: 56px;
}

.spacer {
  flex: 1 1 auto;
}

.additional-services-images-header, .additional-services-description-header {
  padding: 16px 16px 0 16px;
}

.additional-service-description {
  margin-left: 16px;
  margin-right: 16px;
  text-align: justify;
}

img {
  height: 100%;
  object-fit: cover;
}
