<div class="main" [class.on-handset]="(isHandset$ | async)" [class.backdrop-expanded]="!isBackdropCollapsed">
  <mat-grid-list [cols]="(isHandset$ | async) ? '1' : '3'" [rowHeight]="(isHandset$ | async) ? '135px' : '194px'" gutterSize="16" *ngIf="additionalServices$ | async as additionalServices; else contentLoader">
    <mat-grid-tile *ngFor="let additionalService of additionalServices" class="mat-elevation-z4" (click)="onAdditionalServiceSelect(additionalService)">
      <img class="main-image" [src]="additionalService.imagePaths[0]">
      <div class="overlay"></div>
      <p class="mat-h1">{{ additionalService['name_' + (language$ | async)] }}</p>
      <p class="mat-caption">{{ additionalService['shortDescription_' + (language$ | async)] }}</p>
    </mat-grid-tile>
  </mat-grid-list>
  <ng-template #contentLoader>
    <mat-grid-list [cols]="(isHandset$ | async) ? '1' : '3'" [rowHeight]="(isHandset$ | async) ? '135px' : '194px'" gutterSize="16">
      <mat-grid-tile *ngFor="let tile of ['', '', '']" class="mat-elevation-z4">
        <content-loader [baseUrl]="window.location.pathname" [style]="{ position: 'absolute', left: 0, right: 0, bottom: 0, top: 0, height: (isHandset$ | async) ? '135px' : '194px' }">
          <svg:rect x="0" y="0" height="100%" width="100%"/>
        </content-loader>
      </mat-grid-tile>
    </mat-grid-list>
  </ng-template>
</div>
<app-backdrop
  [isCollapsed]="isBackdropCollapsed"
  (isCollapsedChange)="isBackdropCollapsed = $event"
  *transloco="let translate"
  [header]="translate('backdrop.header.additional-services')"
  [headerClass]="(isHandset$ | async) ? 'mat-elevation-z4 top-border-radius-16' : ''">
  <div *ngIf="!isBackdropCollapsed">
    <mat-divider *ngIf="!(isHandset$ | async)"></mat-divider>
    <!-- phone content -->
    <div *ngIf="(isHandset$ | async)">
      <app-handset-carousel [imagePaths]="(selectedAdditionalService$ | async)?.imagePaths"></app-handset-carousel>
    </div>
    <!-- not phone content -->
    <div *ngIf="!(isHandset$ | async)">
      <h4 class="additional-services-images-header">{{ translate('additional-services.sections.images') }}</h4>
      <app-carousel [imagePaths]='(selectedAdditionalService$ | async)?.imagePaths'></app-carousel>
      <mat-divider></mat-divider>
      <h4 class="additional-services-description-header">{{ translate('additional-services.sections.description') }}</h4>
    </div>
    <!-- both content -->
    <div *ngIf="selectedAdditionalService$ | async as additionalService; else descriptionContentLoader">
      <mat-list>
        <mat-list-item>
          <mat-icon mat-list-icon>{{ additionalService.icon }}</mat-icon>
          <div mat-line> {{ additionalService['name_' + (language$ | async)] }} </div>
          <div mat-line>{{ additionalService['shortDescription_' + (language$ | async)] }} </div>
        </mat-list-item>
      </mat-list>
      <p class="mat-body additional-service-description">{{ additionalService['fullDescription_' + (language$ | async)] }}</p>
    </div>
  </div>
  <ng-template #descriptionContentLoader>
    <content-loader [baseUrl]="window.location.pathname" [width]="500" [style]="{ position: 'absolute', width: '500px' }">
      <svg:rect x="16" y="16" height="32" width="32"/>
      <svg:rect x="56" y="20" height="8" width="64"/>
      <svg:rect x="56" y="36" height="8" width="100"/>
      <svg:rect x="16" y="66" height="8" width="90%"/>
      <svg:rect x="16" y="86" height="8" width="90%"/>
      <svg:rect x="16" y="106" height="8" width="80%"/>
    </content-loader>
  </ng-template>
</app-backdrop>
