<div *transloco="let translate; read: 'admin-form'">
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <h4 class="room-types-details-header-images">{{ translate('sections.images') }}</h4>
  <app-carousel [imagePaths]="(roomType$ | async)?.imagePaths ? (imageURLs$ | async).concat((roomType$ | async)?.imagePaths) : (imageURLs$ | async).concat([])" [isImageRemovable]="true" (imagePathRemoved)="onImagePathRemoved($event)"></app-carousel>
  <div style="margin: 0 16px 16px 16px;">
    <button class='new-photo-button' mat-stroked-button (click)="filePickerRef.nativeElement?.click()"><mat-icon>add_a_photo</mat-icon> {{ translate('new-image') }} </button>
  </div>
  <mat-divider class="photo-section-divider"></mat-divider>
  <h4 class="room-types-details-header-details">{{ translate('sections.details') }}</h4>
  <form [formGroup]="form" (ngSubmit)="onSubmitRoomType()" #editForm *transloco="let translateRoomTypesDetails; read: 'room-types-details'">
    <input type="file" #filePicker style="display: none;" (change)="onImagesPicked($event)" multiple>
    <!-- en -->
    <div [style.display]="(language$ | async) === 'en' ? '' : 'none'">
      <mat-form-field appearance="fill">
        <mat-label>{{ translateRoomTypesDetails('name.label') }}</mat-label>
        <input type="text" matInput name="name_en" formControlName="name_en">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ translateRoomTypesDetails('description.label') }}</mat-label>
        <textarea matInput
          cdkTextareaAutosize
          name="description_en"
          formControlName="description_en"
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>
    </div>
    <!-- uk -->
    <div [style.display]="(language$ | async) === 'uk' ? '' : 'none'">
      <mat-form-field appearance="fill">
        <mat-label>{{ translateRoomTypesDetails('name.label') }}</mat-label>
        <input type="text" matInput name="name_uk" formControlName="name_uk">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ translateRoomTypesDetails('description.label') }}</mat-label>
        <textarea matInput
          cdkTextareaAutosize
          name="description_uk"
          formControlName="description_uk"
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>
    </div>
    <!-- ru -->
    <div [style.display]="(language$ | async) === 'ru' ? '' : 'none'">
      <mat-form-field appearance="fill">
        <mat-label>{{ translateRoomTypesDetails('name.label') }}</mat-label>
        <input type="text" matInput name="name_ru" formControlName="name_ru">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ translateRoomTypesDetails('description.label') }}</mat-label>
        <textarea matInput
          cdkTextareaAutosize
          name="description_ru"
          formControlName="description_ru"
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>
    </div>
    <mat-form-field appearance="outline">
      <mat-chip-list #servicesList [attr.aria-label]="translateRoomTypesDetails('services-list')">
        <mat-chip
          *ngFor="let selectedService of (selectedServices$ | async) as selectedServices; index as index"
          removable="true"
          (removed)="onServiceRemove(index)">
          <mat-icon matChipAvatar> {{ selectedService.icon }} </mat-icon>
          {{ selectedService['name_' + (language$ | async)] }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
          type="text"
          #servicesListAutocompleteTrigger="matAutocompleteTrigger"
          [placeholder]="translateRoomTypesDetails('put-new-services')"
          matInput
          formControlName="servicesIds"
          [matChipInputSeparatorKeyCodes]="[]"
          [matAutocomplete]="servicesListAutoComplete"
          [matChipInputFor]="servicesList"
          (change)="$event.target.value = ''">
        <button mat-icon-button matSuffix (click)="servicesListAutocompleteTrigger.openPanel()"><mat-icon> expand_more </mat-icon></button>
      </mat-chip-list>
      <mat-autocomplete #servicesListAutoComplete="matAutocomplete" (optionSelected)="serviceSelected($event)">
        <mat-option *ngFor="let roomService of roomServices$ | async" [value]="roomService">
          <mat-icon> {{ roomService.icon }} </mat-icon> {{roomService['name_' + (language$ | async)]}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div style="margin: 16px; display: flex;">
      {{ form.errors }}
      <span class="spacer"></span>
      <button style="right: 8px;" mat-stroked-button type="submit" [disabled]="isLoading" #acceptButton *ngIf="!(isHandset$ | async)"> {{ translate('accept') }} </button>
      <button mat-stroked-button color="warn" [disabled]="isLoading" (click)="onRoomTypeDelete()" *ngIf="roomType$ && !(isHandset$ | async)">{{ translate('delete') }}</button>
    </div>
  </form>
</div>
