<mat-action-list [class.on-handset]="(isHandset$ | async)">
  <mat-list-item class="mat-elevation-z4" *transloco="let translate; read: 'admin.guests'" (click)="selectedGuestSubject.next(null)">
    <mat-icon matListIcon>add</mat-icon>
    <a matLine> {{ translate('new-guest') }} </a>
  </mat-list-item>
</mat-action-list>
<mat-nav-list *ngIf="guests$ | async as guests; else contentLoader" [class.on-handset]="isHandset$ | async" class="scrollable-y">
  <mat-list-item *ngFor="let guest of guests; last as last" [class.active]="(selectedGuest$ | async)?._id === guest._id" (click)="selectedGuestSubject.next(guest)">
    <mat-icon matListIcon> {{ guest.isReservation ? 'security' : '' }} </mat-icon>
    <h3 matLine>{{ guest.phoneNumber }}</h3>
    <p matLine  *transloco="let translate; read: 'admin.guests'">{{ translate('people-amount', { peopleAmount: guest.peopleAmount }) }}</p>
    <p matLine>{{ guest.startDate | date: 'shortDate' }} - {{ guest.endDate | date: 'shortDate' }}</p>
    <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
    <mat-divider [vertical]="true" class="vertical-divider"></mat-divider>
  </mat-list-item>
</mat-nav-list>
<ng-template #contentLoader>
  <mat-list [class.on-handset]="(isHandset$ | async)">
    <mat-list-item *ngFor="let fakeGuest of ['', '', '']; last as last">
      <content-loader [baseUrl]="window.location.pathname" mat-list-icon [width]="24" [height]="24">
        <svg:rect x="0" y="0" height="100%" width="100%"/>
      </content-loader>
      <content-loader [baseUrl]="window.location.pathname" mat-line [height]="56" [width]="500" [style]="{ width: '375px' }">
        <svg:rect x="0" y="8" rx="3" ry="3" height="16" width="80%"/>
        <svg:rect x="0" y="32" rx="3" ry="3" height="16" width="100%"/>
      </content-loader>
      <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
    </mat-list-item>
  </mat-list>
</ng-template>
<app-guest
  *ngIf="!(isHandset$ | async)"
  [guestId]="(selectedGuest$ | async)?._id"
  [class.on-handset]="(isHandset$ | async)"
  (guestAdded)="guestsSubject.next([]); selectedGuestSubject.next($event)"
  (guestDeleted)="guestsSubject.next([]); selectedGuestSubject.next(null)"
  class="scrollable-y">
</app-guest>
