<div *transloco="let translate; read: 'main'">
  <!-- <video autoplay muted loop>
    <source src="../../assets/background-video.MP4" type="video/mp4">
  </video> -->
  <div class="video-overlay"></div>
  <div class="header-navigation">
    <h2 [class]="(isHandset$ | async) ? 'mat-display-1' : 'mat-display-2'">Ласкаво просимо!</h2>

    <ul>
      <li><a mat-stroked-button routerLink="/room-types">{{ translate('navigation.rooms') }}</a></li>
      <li><a mat-stroked-button routerLink="/hotel">{{ translate('navigation.hotel') }}</a></li>
      <li><a mat-stroked-button routerLink="/additional-services">{{ translate('navigation.services') }}</a></li>
    </ul>
</div>

  <mat-toolbar color="primary">
    <mat-icon>place</mat-icon> <span class="mat-body-strong">{{ translate('location') }}</span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="languagesMenu.menu"><mat-icon>language</mat-icon></button>
    <app-languages-menu #languagesMenu></app-languages-menu>
  </mat-toolbar>

</div>
