:host {
  color: white;
}

video, div.video-overlay {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.38);
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}


.spacer {
  flex: 1 1 auto;
}


mat-toolbar {
  bottom: 0;
  position: fixed;
  background: transparent !important;
}

div.header-navigation {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 100%;
  text-align: center;
}

ul {
  width: 200px;
  padding: 0;
  margin: auto;
}

ul li {
  display: block;
  padding: 10px;
}

a {
  width: 100%;
  border-color: white !important;
}
