div {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 56px;
}

a {
  display: block;
  height: 56px;
  flex: 1;
}

mat-icon {
  margin-top: 16px;
}

.mat-caption {
  line-height: 0;
  display: none;
}

.bottom-navigation-active-tab mat-icon {
  margin-top: 8px;
}

.bottom-navigation-active-tab .mat-caption {
  display: block;
}

a.bottom-navigation-active-tab {
  opacity: 1;
}

nav {
  background-color: white;
}
