<div *ngIf="!(isHidden$ | async) && (isHandset$ | async)">
  <nav mat-tab-nav-bar *transloco="let translate; read: 'navigation'" class="mat-elevation-z16">
    <a mat-tab-link routerLink="/room-types" routerLinkActive="bottom-navigation-active-tab">
      <mat-icon>meeting_room</mat-icon>
      <p class="mat-caption">{{ translate('rooms') }}</p>
    </a>
    <a mat-tab-link routerLink="/hotel" routerLinkActive="bottom-navigation-active-tab">
      <mat-icon>apartment</mat-icon>
      <p class="mat-caption">{{ translate('hotel') }}</p>
    </a>
    <a mat-tab-link routerLink="/additional-services" routerLinkActive="bottom-navigation-active-tab">
      <mat-icon>room_service</mat-icon>
      <p class="mat-caption">{{ translate('services') }}</p>
    </a>
    <a mat-tab-link routerLink="/admin" routerLinkActive="bottom-navigation-active-tab" *ngIf="isAdmin$ | async">
      <mat-icon>dashboard</mat-icon>
      <p class="mat-caption">{{ translate('admin') }}</p>
    </a>
  </nav>
</div>
