<mat-toolbar *transloco="let translate" class="mat-elevation-z4">
  <button mat-icon-button matDialogClose><mat-icon>close</mat-icon></button>
  <h1> {{ translate('offers-dialog.header') }} </h1>
</mat-toolbar>
<div class="body">
  <mat-list *ngIf="offers$ | async as offers; else contentLoader" [class.on-handset]="isHandset$ | async" class="scrollable-y">
    <mat-list-item *ngFor="let offer of offers; last as last">
      <mat-icon matListIcon> {{ offer.icon }} </mat-icon>
      <p matLine> {{ offer['name_' + (language$ | async)] }} </p>
      <p matLine> {{ offer['description_' + (language$ | async)] }} </p>
      <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
    </mat-list-item>
  </mat-list>
  <ng-template #contentLoader>
    <mat-list [class.on-handset]="(isHandset$ | async)">
      <mat-list-item *ngFor="let fakeOffer of ['', '', '']; last as last">
        <content-loader [baseUrl]="window.location.pathname" mat-list-icon [width]="24" [height]="24">
          <svg:rect x="0" y="0" height="100%" width="100%"/>
        </content-loader>
        <content-loader [baseUrl]="window.location.pathname" mat-line [height]="56" [width]="500" [style]="{ width: '375px' }">
          <svg:rect x="0" y="8" rx="3" ry="3" height="16" width="80%"/>
          <svg:rect x="0" y="32" rx="3" ry="3" height="16" width="100%"/>
        </content-loader>
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
      </mat-list-item>
    </mat-list>
  </ng-template>
</div>
