<div *transloco="let translate">
  <mat-divider *ngIf="!(isHandset$ | async)"></mat-divider>
  <!-- phone content -->
  <div *ngIf="(isHandset$ | async)">
    <app-handset-carousel [imagePaths]="(hotelService$ | async)?.imagePaths"></app-handset-carousel>
  </div>
  <!-- not phone content -->
  <div *ngIf="!(isHandset$ | async)">
    <h4 class="hotel-services-images-header">{{ translate('hotel-services.sections.images') }}</h4>
    <app-carousel [imagePaths]='(hotelService$ | async)?.imagePaths'></app-carousel>
    <mat-divider></mat-divider>
    <h4 class="hotel-services-description-header">{{ translate('hotel-services.sections.description') }}</h4>
  </div>
  <!-- both content -->
  <div *ngIf="hotelService$ | async as hotelService; else descriptionContentLoader">
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>{{ hotelService.icon }}</mat-icon>
        <div mat-line> {{ hotelService.name }} </div>
        <div mat-line>{{ hotelService.shortDescription }} </div>
      </mat-list-item>
    </mat-list>
    <p class="mat-body room-service-description">{{ hotelService.fullDescription }}</p>
  </div>
  <ng-template #descriptionContentLoader>
    <content-loader [baseUrl]="window.location.pathname" [width]="500" [style]="{ position: 'absolute', width: '500px' }">
      <svg:rect x="16" y="16" height="32" width="32"/>
      <svg:rect x="56" y="20" height="8" width="64"/>
      <svg:rect x="56" y="36" height="8" width="100"/>
      <svg:rect x="16" y="66" height="8" width="90%"/>
      <svg:rect x="16" y="86" height="8" width="90%"/>
      <svg:rect x="16" y="106" height="8" width="80%"/>
    </content-loader>
  </ng-template>
</div>
