<app-top-floating-toolbar></app-top-floating-toolbar>
<app-navigation-rail></app-navigation-rail>
<main>
  <router-outlet></router-outlet>
</main>
<app-actions-rail></app-actions-rail>
<app-bottom-navigation></app-bottom-navigation>
