<mat-toolbar *transloco="let translate" class="mat-elevation-z4">
  <button mat-icon-button (click)="openCancellationApproval()"><mat-icon>close</mat-icon></button>
  <h1> {{ translate('rules-details.handset-header') }} </h1>
  <span class="spacer"></span>
  <button mat-button (click)="appRule.onSubmitRule()"> {{ translate('admin-form.accept') | uppercase }} </button>
</mat-toolbar>
<app-rule
  [ruleId]="rule$ ? (rule$ | async)?._id : null"
  class="scrollable-y"
  #appRule>
</app-rule>
<button class="languages-fab" mat-fab [matMenuTriggerFor]="languagesMenu.menu"><mat-icon>language</mat-icon></button>
<app-languages-menu #languagesMenu></app-languages-menu>
