<div class="main" [class.on-handset]="(isHandset$ | async)" [class.backdrop-expanded]="!isBackdropCollapsed" *transloco="let translate; read: 'admin.sections'">
  <mat-grid-list [cols]="(isHandset$ | async) ? '2' : '5'" rowHeight="135px" gutterSize="16">
    <a><mat-grid-tile class="mat-elevation-z4" (click)="selectedSectionSubject.next('rooms')">
      <mat-icon>meeting_room</mat-icon>
      <p class="mat-h1"> {{ translate('rooms') }} </p>
    </mat-grid-tile></a>
    <a><mat-grid-tile class="mat-elevation-z4" (click)="selectedSectionSubject.next('room-types')">
      <p class="mat-h1"> {{ translate('room-types') }} </p>
    </mat-grid-tile></a>
    <a><mat-grid-tile class="mat-elevation-z4" (click)="selectedSectionSubject.next('guests')">
      <mat-icon>people</mat-icon>
      <p class="mat-h1"> {{ translate('guests') }} </p>
    </mat-grid-tile></a>
    <a><mat-grid-tile class="mat-elevation-z4" (click)="selectedSectionSubject.next('services')">
      <mat-icon>room_services</mat-icon>
      <p class="mat-h1"> {{ translate('services') }} </p>
    </mat-grid-tile></a>
    <a><mat-grid-tile class="mat-elevation-z4" (click)="selectedSectionSubject.next('rules')">
      <mat-icon>assignments</mat-icon>
      <p class="mat-h1"> {{ translate('rules') }} </p>
    </mat-grid-tile></a>
    <a><mat-grid-tile class="mat-elevation-z4" (click)="selectedSectionSubject.next('offers')">
      <mat-icon>local_offers</mat-icon>
      <p class="mat-h1"> {{ translate('offers') }} </p>
    </mat-grid-tile></a>
  </mat-grid-list>
</div>
<app-backdrop
  [isCollapsed]="isBackdropCollapsed"
  (isCollapsedChange)="isBackdropCollapsed = $event"
  *transloco="let translate"
  [header]="translate('backdrop.header.admin')"
  [headerClass]="'mat-elevation-z4 top-border-radius-16'">
  <app-services *ngIf="(selectedSection$ | async) === 'services'"></app-services>
  <app-admin-room-types *ngIf="(selectedSection$ | async) === 'room-types'"></app-admin-room-types>
  <app-rooms *ngIf="(selectedSection$ | async) === 'rooms'"></app-rooms>
  <app-rules *ngIf="(selectedSection$ | async) === 'rules'"></app-rules>
  <app-offers *ngIf="(selectedSection$ | async) === 'offers'"></app-offers>
  <app-guests *ngIf="(selectedSection$ | async) === 'guests'"></app-guests>
</app-backdrop>
