.main {
  position: absolute;
  left: 72px;
  right: 56px;
  width: 1061px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  top: 56px;
  overflow-x: hidden;
  overflow-y: auto;
}

.main.on-handset {
  width: 343px;
  left: 0;
  right: 0;
  top: 64px;
  bottom: 112px;
}

mat-grid-tile {
  border-radius: 4px;
  cursor: pointer;
}

.main.backdrop-expanded {
  position: fixed;
  height: 100vh;
  overflow-y: hidden;
}
