<div *transloco="let translate; read: 'admin-form'">
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <h4 class="rules-details-header-details">{{ translate('sections.details') }}</h4>
  <form [formGroup]="form" (ngSubmit)="onSubmitRule()" #editForm *transloco="let translateRule; read: 'rules-details'">
    <!-- en -->
    <div [style.display]="(language$ | async) === 'en' ? '' : 'none'">
      <mat-form-field appearance="fill">
        <mat-label>{{ translateRule('description.label') }}</mat-label>
        <input type="text" matInput name="description_en" formControlName="description_en">
      </mat-form-field>
    </div>
    <!-- uk -->
    <div [style.display]="(language$ | async) === 'uk' ? '' : 'none'">
      <mat-form-field appearance="fill">
        <mat-label>{{ translateRule('description.label') }}</mat-label>
        <input type="text" matInput name="description_uk" formControlName="description_uk">
      </mat-form-field>
    </div>
    <!-- ru -->
    <div [style.display]="(language$ | async) === 'ru' ? '' : 'none'">
      <mat-form-field appearance="fill">
        <mat-label>{{ translateRule('description.label') }}</mat-label>
        <input type="text" matInput name="description_ru" formControlName="description_ru">
      </mat-form-field>
    </div>
    <div style="margin: 16px; display: flex;">
      {{ form.errors }}
      <span class="spacer"></span>
      <button style="right: 8px;" mat-stroked-button type="submit" [disabled]="isLoading" #acceptButton *ngIf="!(isHandset$ | async)"> {{ translate('accept') }} </button>
      <button mat-stroked-button color="warn" [disabled]="isLoading" (click)="onRuleDelete()" *ngIf="rule$ && !(isHandset$ | async)">{{ translate('delete') }}</button>
    </div>
  </form>
</div>
