<mat-card *transloco="let translate; read: 'backdrop.header'" class="mat-elevation-z12" [class.on-handset]="(isHandset$ | async)" [class]="isCollapsed ? 'collapsed' : 'expanded'">
  <mat-card-header (click)="toggle()" [class]="headerClass">
    {{ header || translate('rooms') }}
    <span class="spacer"></span>
    <button mat-icon-button class="toggler"><mat-icon>{{ isCollapsed ? 'expand_less' : 'expand_more' }}</mat-icon></button>
  </mat-card-header>
  <ng-content></ng-content>
</mat-card>
