mat-card {
  position: fixed;
  left: 72px;
  right: 56px;
  bottom: 0;
  border-radius: 16px 16px 0 0;
  height: 72px;
  padding: 0;
}

mat-card.on-handset {
  left: 0;
  right: 0;
  height: 56px;
  bottom: 56px;
}

.spacer {
  flex: 1 1 auto;
}

mat-card-header {
  align-items: center;
  cursor: pointer;
}

mat-card.collapsed mat-card-header {
  height: 100%;
}

mat-card.expanded mat-card-header {
  height: 72px;
}

mat-card.expanded.on-handset mat-card-header {
  height: 56px;
}

mat-card .toggler {
  margin-right: 16px;
}

mat-card.expanded {
  height: calc(100% - 24px);
}

mat-card.expanded.on-handset {
  height: calc(100% - 8px - 56px);

}

.top-border-radius-16 {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
