<mat-action-list *transloco="let translate; read: 'cancellation-approval'">
  <button mat-list-item (click)="onDiscardChangesButtonClick()">
    <mat-icon matListIcon >delete</mat-icon>
    <h3 matLine> {{ translate('discard-changes')}} </h3>
  </button>
  <button mat-list-item (click)="onCancelButtonClick()">
    <mat-icon matListIcon>close</mat-icon>
    <h3 matLine> {{ translate('cancel') }} </h3>
  </button>
</mat-action-list>
