mat-form-field, mat-checkbox, .new-photo-button {
  width: 100%;
}

mat-checkbox {
  display: block;
}

.guests-details-header-images, .guests-details-header-details {
  margin-left: 16px;
  margin-top: 16px;
}

form {
  margin-left: 16px;
  margin-right: 16px;
}

mat-progress-bar {
  position: sticky;
  top: 0;
}

.photo-section-divider {
  position: relative;
}
