<div *transloco="let translate; read: 'admin-form'">
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <h4 class="guests-details-header-details">{{ translate('sections.details') }}</h4>
  <form [formGroup]="form" (ngSubmit)="onSubmitGuest()" #editForm *transloco="let translateGuest; read: 'guests-details'">
	<mat-form-field>
	  <mat-label>{{ translateGuest('dates.label') }}</mat-label>
	  <mat-date-range-input [rangePicker]="dateRangePicker">
	    <input matStartDate name="startDate" formControlName="startDate" [attr.placeholder]="translateGuest('start-date.label')">
	    <input matEndDate name="endDate" formControlName="endDate" [attr.placeholder]="translateGuest('end-date.label')">
	  </mat-date-range-input>
	  <mat-datepicker-toggle matSuffix [for]="dateRangePicker"></mat-datepicker-toggle>
	  <mat-date-range-picker #dateRangePicker></mat-date-range-picker>
	</mat-form-field>
    <p *ngIf="form.value.startDate && form.value.endDate"> {{ translateGuest('days-amount', { daysAmount: form.value.endDate?.diff(form.value.startDate, 'days') }) }} </p>
    <mat-form-field appearance="fill">
      <span matPrefix>+380 &nbsp;</span>
      <mat-label>{{ translateGuest('phone-number.label') }}</mat-label>
      <mat-icon matSuffix>phone</mat-icon>
      <input matInput type="tel" name="phoneNumber" formControlName="phoneNumber">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-icon matPrefix>people</mat-icon>
      <mat-label>{{ translateGuest('people-amount.label') }}</mat-label>
      <input matInput type="number" name="peopleAmount" formControlName="peopleAmount">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-icon matPrefix>meeting_room</mat-icon>
      <mat-label>{{ translateGuest('room.label') }}</mat-label>
      <mat-select name="roomId" formControlName="roomId">
        <mat-option *ngFor="let room of rooms$ | async" [value]="room._id">
          {{ room['name_' + (language$ | async)] }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{ translateGuest('notes.label') }}</mat-label>
      <textarea matInput
        cdkTextareaAutosize
        name="notes"
        formControlName="notes"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"></textarea>
    </mat-form-field>
    <mat-checkbox name="isReservation" formControlName="isReservation" [checked]="true"> {{ translateGuest('is-reservation') }} </mat-checkbox>
    <div style="margin: 16px; display: flex;">
      {{ form.errors }}
      <span class="spacer"></span>
      <button style="right: 8px;" mat-stroked-button type="submit" [disabled]="isLoading" #acceptButton *ngIf="!(isHandset$ | async)"> {{ translate('accept') }} </button>
      <button mat-stroked-button color="warn" [disabled]="isLoading" (click)="onGuestDelete()" *ngIf="guest$ && !(isHandset$ | async)">{{ translate('delete') }}</button>
    </div>
  </form>
</div>
