<mat-toolbar *ngIf="!(isHidden$ | async) && (isHandset$ | async)">
  <a routerLink="/"><h1>NM</h1></a>
  <span class="spacer"></span>
  <button mat-icon-button (click)="onProfileButtonClick()">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
