<nav *ngIf="!(isHidden$ | async) && !(isHandset$ | async)">
  <mat-nav-list *transloco="let translate; read: 'navigation'">
    <a mat-list-item routerLink="/"><h1>NM</h1></a>
    <div [class.bottom-navigation-rail]="(isTablet$ | async)">
      <a mat-list-item routerLink="/room-types" routerLinkActive="navigation-rail-active-tab">
        <mat-icon>meeting_room</mat-icon>
        <p class="mat-caption">{{ translate('rooms') }}</p>
      </a>
      <a mat-list-item routerLink="/hotel" routerLinkActive="navigation-rail-active-tab">
        <mat-icon>apartment</mat-icon>
        <p class="mat-caption">{{ translate('hotel') }}</p>
      </a>
      <a mat-list-item routerLink="/additional-services" routerLinkActive="navigation-rail-active-tab">
        <mat-icon>room_services</mat-icon>
        <p class="mat-caption">{{ translate('services') }}</p>
      </a>
      <a mat-list-item routerLink="/admin" routerLinkActive="navigation-rail-active-tab" *ngIf="isAdmin$ | async">
        <mat-icon>dashboard</mat-icon>
        <p class="mat-caption">{{ translate('admin') }}</p>
      </a>
      <ng-content></ng-content>
    </div>
  </mat-nav-list>
</nav>
