nav {
  position: fixed;
  left: 0;
  top: 24px;
  height: 100%;
}

div.bottom-navigation-rail {
  position: absolute;
  bottom: 24px;
}

a {
  height: 72px !important;
  width: 72px !important;
  opacity: .6;
}

mat-icon {
  margin-top: 24px;
}

h1 {
  line-height: 72px;
}

.mat-caption {
  line-height: 4px;
  display: none;
}


.navigation-rail-active-tab mat-icon {
  margin-top: 14px;
}

.navigation-rail-active-tab .mat-caption {
  display: block;
}

a.navigation-rail-active-tab {
  opacity: 1;
}
