<div *transloco="let translate; read: 'admin-form'">
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <h4 class="offers-details-header-details">{{ translate('sections.details') }}</h4>
  <form [formGroup]="form" (ngSubmit)="onSubmitOffer()" #editForm *transloco="let translateOffer; read: 'offers-details'">
    <mat-form-field appearance="fill">
      <mat-label>{{ translateOffer('icon.label') }}</mat-label>
      <mat-hint><a href="https://material.io/resources/icons" target="_blank">Material icons</a></mat-hint>
      <input type="text" cdkFocusInitial matInput name="icon" formControlName="icon" (change)="$event.target.value = $event.target.value.toLowerCase()">
    </mat-form-field>
    <!-- en -->
    <div [style.display]="(language$ | async) === 'en' ? '' : 'none'">
      <mat-form-field appearance="fill">
        <mat-label>{{ translateOffer('name.label') }}</mat-label>
        <input type="text" matInput name="name_en" formControlName="name_en">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ translateOffer('description.label') }}</mat-label>
        <input type="text" matInput name="description_en" formControlName="description_en">
      </mat-form-field>
    </div>
    <!-- uk -->
    <div [style.display]="(language$ | async) === 'uk' ? '' : 'none'">
      <mat-form-field appearance="fill">
        <mat-label>{{ translateOffer('name.label') }}</mat-label>
        <input type="text" matInput name="name_uk" formControlName="name_uk">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ translateOffer('description.label') }}</mat-label>
        <input type="text" matInput name="description_uk" formControlName="description_uk">
      </mat-form-field>
    </div>
    <!-- ru -->
    <div [style.display]="(language$ | async) === 'ru' ? '' : 'none'">
      <mat-form-field appearance="fill">
        <mat-label>{{ translateOffer('name.label') }}</mat-label>
        <input type="text" matInput name="name_ru" formControlName="name_ru">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ translateOffer('description.label') }}</mat-label>
        <input type="text" matInput name="description_ru" formControlName="description_ru">
      </mat-form-field>
    </div>
    <div style="margin: 16px; display: flex;">
      {{ form.errors }}
      <span class="spacer"></span>
      <button style="right: 8px;" mat-stroked-button type="submit" [disabled]="isLoading" #acceptButton *ngIf="!(isHandset$ | async)"> {{ translate('accept') }} </button>
      <button mat-stroked-button color="warn" [disabled]="isLoading" (click)="onOfferDelete()" *ngIf="offer$ && !(isHandset$ | async)">{{ translate('delete') }}</button>
    </div>
  </form>
</div>
