/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-navigation-rail .mat-list-item-content {
  display: block !important;
  text-align: center !important;
  padding: 0 !important;
}

.relatively-positioned-dialog {
  position: relative !important;
}

.scrollable-y {
  overflow-y: auto;
}
.scrollable-y::-webkit-scrollbar {
  width: 6px;
}
.scrollable-y.on-handset::-webkit-scrollbar {
  width: 0;
}
.scrollable-x::-webkit-scrollbar-thumb, .scrollable-y::-webkit-scrollbar-thumb {
  background-color: #888;
}
.scrollable-x::-webkit-scrollbar-track, .scrollable-y::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}
.scrollable-y:not(:hover) {
  outline-offset: -2px;
  overflow-x: hidden;
  overflow-y: hidden;
  scrollbar-width: thin;
}
.spacer {
  flex: 1 1 auto;
}

.full-screen-dialog .mat-dialog-container {
  padding: 0 !important;
}

.full-screen-dialog .mat-dialog-content {
  padding: 0;
  max-height: calc(100vh - 64px);
}

.no-scroll-x {
  overflow-x: hidden;
}

.no-scroll-x .mat-dialog-container {
  overflow-x: hidden !important;
}

/* https://stackoverflow.com/questions/2989263/disable-auto-zoom-in-input-text-tag-safari-on-iphone */
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px !important;
}

.mat-list-action {
  height: inherit !important;
  border-radius: 0 !important;
  flex: 1 !important;
  min-width: 0 !important;
  /* max-width: 72px; */
  padding: 0 !important;
}
