<div cdkDrag [cdkDragDisabled]="isHandset$ | async" cdkDragRootElement=".cdk-overlay-pane">
  <div mat-dialog-title class="dialog-title" cdkDragHandle>
    <mat-toolbar *transloco="let translate; read: 'reviews-dialog.header'" class="mat-elevation-z4 main-toolbar">
      <button mat-icon-button (click)="onHeaderActionClick()"><mat-icon> {{ (mark$ | async) === null ? 'close' : 'arrow_back_ios' }} </mat-icon></button>
      <h1> {{ (mark$ | async) === null ? translate('reviews') : translate('new-review') }} </h1>
      <span class="spacer"></span>
      <button mat-button *ngIf="(mark$ | async) !== null" (click)="onSubmitReview()"> {{ translate('button.create-review') }} </button>
    </mat-toolbar>
  </div>
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <mat-dialog-content class="body" *transloco="let translate; read: 'reviews-dialog'">
    <mat-toolbar class="leave-feedback-toolbar" *ngIf="(isLoggedIn$ | async) && !(userWroteReview$ | async)">
      <mat-toolbar-row>
        <span class="spacer"></span>
        <span> {{ translate('leave-feedback') }} </span>
        <span class="spacer"></span>
      </mat-toolbar-row>
      <mat-toolbar-row class="marks-row">
        <span class="spacer"></span>
        <button mat-icon-button *ngFor="let star of ['','','','','']; index as index" [class.star]="(mark$ | async) - 1 >= index" (click)="markSubject.next(index + 1)">
          <mat-icon> {{ (mark$ | async) - 1 >= index ? 'star' : 'star_border' }} </mat-icon>
        </button>
        <span class="spacer"></span>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <form *ngIf="(mark$ | async) !== null" [formGroup]="form" (ngSubmit)="onSubmitReview()">
      <input type="file" #filePicker style="display: none;" (change)="onImagePicked($event)">
      <mat-form-field appearance="fill">
        <mat-label><span [innerHTML]="translate('author-name.label')"></span></mat-label>
        <input type="text" matInput name="authorName" formControlName="authorName">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ translate('description.label') }}</mat-label>
        <textarea matInput
          cdkTextareaAutosize
          name="description"
          formControlName="description"
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>
      <img *ngIf="imageURL" [src]="imageURL" [alt]="translate('image-alt')" class="mat-elevation-z4">
      <button type="button" class='new-photo-button' mat-stroked-button (click)="filePickerRef.nativeElement?.click()"><mat-icon>add_a_photo</mat-icon> {{ translate('new-image') }} </button>
    </form>
    <div *ngIf="(mark$ | async) === null" class="review">
      <div *ngIf="reviews$ | async as reviews; else contentLoader" [class.on-handset]="isHandset$ | async" class="scrollable-y">
        <div *ngFor="let review of reviews; last as last">
          <mat-progress-bar mode="indeterminate" *ngIf="(loadingReviews$ | async).includes(review._id)"></mat-progress-bar>
          <div class="review-body">
            <div class="review-toolbar">
              <h2 class="author-name"> {{ review.authorName }} </h2>
              <span class="spacer"></span>
              <button mat-icon-button
                *ngIf="isAdmin$ | async"
                (click)="onReviewApprovalToggle(review)"
                [disabled]="(loadingReviews$ | async).includes(review._id)"
                [matTooltip]="review.isApproved ? translate('review-disapprove') : translate('review-approve')"
                [attr.aria-label]="review.isApproved ? translate('review-disapprove') : translate('review-approve')">
                <mat-icon> {{ review.isApproved ? 'block' : 'check' }} </mat-icon>
              </button>
              <button mat-icon-button
                *ngIf="isAdmin$ | async"
                (click)="onReviewAddToReply(review)"
                [disabled]="(reviewsUnderReply$ | async).includes(review._id)"
                [matTooltip]="translate('review-reply')"
                [attr.aria-label]="translate('review-reply')">
                <mat-icon>reply</mat-icon>
              </button>
              <button mat-icon-button
                color="accent"
                *ngIf="(user$ | async)?._id === review.user._id && !review.isApproved && !(isAdmin$ | async)"
                (click)="reviewModeratedTooltip.toggle()"
                #reviewModeratedTooltip="matTooltip"
                [matTooltip]="translate('review-moderated')"
                [attr.aria-label]="translate('review-moderated')">
                <mat-icon>info</mat-icon>
              </button>
            </div>
            <div>
              <span *ngFor="let star of ['','','','','']; index as index" class="star">
                <mat-icon> {{ review.mark - 1 >= index ? 'star' : 'star_border' }} </mat-icon>
              </span>
              <span> {{ review?.date.fromNow() }} </span>
            </div>
            <p class="mat-body" *ngIf="review.description"> {{ review.description }} </p>
            <div *ngIf="(reviewsUnderReply$ | async).includes(review._id)">
              <mat-divider [inset]="true" class="admin-notes-divider"></mat-divider>
              <mat-form-field appearance="fill">
                <mat-label> {{ translate('admin-notes.label') }} </mat-label>
                <textarea matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                [(ngModel)]="review.adminNotes"
                ></textarea>
                <button matSuffix mat-icon-button [attr.aria-label]="translate('send-admin-notes')" (click)="onReviewReply(review)">
                  <mat-icon>send</mat-icon>
                </button>
              </mat-form-field>
            </div>
            <div *ngIf="!(reviewsUnderReply$ | async).includes(review._id) && review.adminNotes">
              <mat-divider [inset]="true" class="admin-notes-divider"></mat-divider>
              <p> <span class="mat-body-strong"> {{ translate('admin-notes.from') }} </span> <span class="mat-body"> {{ review.adminNotes }} </span> </p>
            </div>
            <img *ngIf="review.imagePath" [src]="review.imagePath" [alt]="translate('image-alt')" class="mat-elevation-z4">
          </div>
          <mat-divider *ngIf="!last"></mat-divider>
        </div>
      </div>
      <ng-template #contentLoader>
          <div *ngFor="let fakeReview of ['', '', '']; last as last">
            <content-loader [baseUrl]="window.location.pathname" [height]="330" [width]="(isHandset$ | async) ? 375 : 560" [style]="{ width: ((isHandset$ | async) ? '100%' : '560px')}">
              <svg:rect x="56" y="8" rx="3" ry="3" height="24" width="30%"/>
              <svg:rect x="56" y="40" rx="3" ry="3" height="16" width="30%"/>
              <svg:rect x="56" y="64" rx="3" ry="3" height="16" width="90%"/>
              <svg:rect x="56" y="88" rx="3" ry="3" height="16" width="90%"/>
              <svg:rect x="56" y="112" rx="3" ry="3" height="16" width="90%"/>
              <svg:rect x="56" y="136" rx="3" ry="3" height="194" width="90%"/>
            </content-loader>
            <mat-divider *ngIf="!last"></mat-divider>
          </div>
      </ng-template>
    </div>
  </mat-dialog-content>
</div>
