.dialog-title {
  margin-bottom: 0;
  cursor: move;
}

.main-toolbar {
  z-index: 1;
}

.star {
  color: #FDD835;
}

.leave-feedback-toolbar {
  background: transparent;
  margin-bottom: 16px;
}

.marks-row {
  height: 28px;
}

form {
  padding: 16px 56px;
}

mat-form-field, .new-photo-button {
  width: 100%;
}

img {
  width: 100%;
  height: 194px;
  object-fit: cover;
  border-radius: 4px;
}

mat-progress-bar {
  position: sticky;
  top: 0;
}

.review .star mat-icon {
  font-size: 12px;
  height: 12px;
  width: 12px;
}

.review-body {
  padding: 16px 56px;
}

.author-name {
  margin-bottom: 0;
}

.review img {
  margin-bottom: 16px;
}

.admin-notes-divider {
  margin-bottom: 16px;
}

.review-toolbar {
  display: flex;
  align-items: center;
}
