<div class="main" [class.on-handset]="(isHandset$ | async)" [class.backdrop-expanded]="!isBackdropCollapsed">
  <mat-grid-list [cols]="(isHandset$ | async) ? '1' : '3'" [rowHeight]="(isHandset$ | async) ? '135px' : '194px'" gutterSize="16" *ngIf="roomTypes$ | async as roomTypes; else contentLoader">
    <mat-grid-tile *ngFor="let roomType of roomTypes" class="mat-elevation-z4" (click)="onRoomTypeSelect(roomType)">
      <img class="main-image" [src]="roomType.imagePaths[0]">
      <div class="overlay"></div>
      <p class="mat-h1">{{ roomType['name_' + (language$ | async)] }}</p>
      <p class="mat-caption">{{ roomType['description_' + (language$ | async)] }}</p>
    </mat-grid-tile>
  </mat-grid-list>
  <ng-template #contentLoader>
    <mat-grid-list [cols]="(isHandset$ | async) ? '1' : '3'" [rowHeight]="(isHandset$ | async) ? '135px' : '194px'" gutterSize="16">
      <mat-grid-tile *ngFor="let tile of ['', '', '']" class="mat-elevation-z4">
        <content-loader [baseUrl]="window.location.pathname" [style]="{ position: 'absolute', left: 0, right: 0, bottom: 0, top: 0, height: (isHandset$ | async) ? '135px' : '194px' }">
          <svg:rect x="0" y="0" height="100%" width="100%"/>
        </content-loader>
      </mat-grid-tile>
    </mat-grid-list>
  </ng-template>
</div>
<app-backdrop
  [isCollapsed]="isBackdropCollapsed"
  (isCollapsedChange)="isBackdropCollapsed = $event"
  *transloco="let translate"
  [header]="translate('backdrop.header.room-types')">
  <div class="backdrop-content" *ngIf="!isBackdropCollapsed">
    <mat-divider *ngIf="!(isHandset$ | async)"></mat-divider>
    <!-- phone content -->
    <mat-tab-group mat-stretch-tabs *ngIf="(isHandset$ | async)">
      <mat-tab [label]="translate('room-types.tabs.services')">
        <app-room-services [roomType]='selectedRoomType$ | async'></app-room-services>
      </mat-tab>
      <mat-tab [label]="translate('room-types.tabs.images')">
        <div *ngIf="(selectedRoomType$ | async) as roomType; else imagesLoader" class="room-types-images">
          <mat-grid-list cols="2" rowHeight="135px" gutterSize="8">
            <mat-grid-tile *ngFor="let imagePath of roomType.imagePaths">
              <img class="room-types-image" [src]="imagePath">
            </mat-grid-tile>
          </mat-grid-list>
        </div>
        <ng-template #imagesLoader class="room-types-images">
          <mat-grid-list cols="2" rowHeight="135px" gutterSize="8">
            <mat-grid-tile *ngFor="let fakeImage of ['', '', '', '', '', '', '', '']">
              <content-loader class="room-types-image" [baseUrl]="window.location.pathname" [style]="{ position: 'absolute', left: 0, right: 0, bottom: 0, top: 0, height: '135px' }">
                <svg:rect x="0" y="0" height="100%" width="100%"/>
              </content-loader>
            </mat-grid-tile>
          </mat-grid-list>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
    <!-- not phone content -->
    <div *ngIf="!(isHandset$ | async)" class="not-handset-content">
      <h4 class="room-types-images-header">{{ translate('room-types.sections.images') }}</h4>
      <app-carousel [imagePaths]='(selectedRoomType$ | async)?.imagePaths'></app-carousel>
      <mat-divider></mat-divider>
      <h4 class="room-types-services-header">{{ translate('room-types.sections.services') }}</h4>
      <app-room-services [roomType]='selectedRoomType$ | async'></app-room-services>
    </div>
  </div>
</app-backdrop>
