<mat-action-list [class.on-handset]="(isHandset$ | async)">
  <mat-list-item class="mat-elevation-z4" *transloco="let translate; read: 'admin.rules'" (click)="selectedRuleSubject.next(null)">
    <mat-icon matListIcon>add</mat-icon>
    <a matLine> {{ translate('new-rule') }} </a>
  </mat-list-item>
</mat-action-list>
<mat-nav-list *ngIf="rules$ | async as rules; else contentLoader" [class.on-handset]="isHandset$ | async" class="scrollable-y">
  <mat-list-item *ngFor="let rule of rules; last as last" [class.active]="(selectedRule$ | async)?._id === rule._id" (click)="selectedRuleSubject.next(rule)">
    <a matLine> {{ rule['description_' + (language$ | async)] }} </a>
    <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
    <mat-divider [vertical]="true" class="vertical-divider"></mat-divider>
  </mat-list-item>
</mat-nav-list>
<ng-template #contentLoader>
  <mat-list [class.on-handset]="(isHandset$ | async)">
    <mat-list-item *ngFor="let fakeRule of ['', '', '']; last as last">
      <content-loader [baseUrl]="window.location.pathname" mat-list-icon [width]="24" [height]="24">
        <svg:rect x="0" y="0" height="100%" width="100%"/>
      </content-loader>
      <content-loader [baseUrl]="window.location.pathname" mat-line [height]="56" [width]="500" [style]="{ width: '375px' }">
        <svg:rect x="0" y="8" rx="3" ry="3" height="16" width="80%"/>
        <svg:rect x="0" y="32" rx="3" ry="3" height="16" width="100%"/>
      </content-loader>
      <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
    </mat-list-item>
  </mat-list>
</ng-template>
<app-rule
  *ngIf="!(isHandset$ | async)"
  [ruleId]="(selectedRule$ | async)?._id"
  [class.on-handset]="(isHandset$ | async)"
  (ruleAdded)="rulesSubject.next([]); selectedRuleSubject.next($event)"
  (ruleDeleted)="rulesSubject.next([]); selectedRuleSubject.next(null)"
  class="scrollable-y">
</app-rule>
